* {
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #353b48;
}

.container {
  display: flex;
  flex-direction: column;
}

.container a {
  position: relative;
  width: 200px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  margin: 20px;
  font-size: 30px;
  color: #7f8;
  text-decoration: none;
  border: 5px solid #7f8;
  /*hue-rotate颜色滤镜，范围0~360deg*/
  /*使用var函数调用--i*/
  filter: hue-rotate(calc(var(--i) * 90deg));
}

.container a::before,
.container a::after {
  content: '';
  position: absolute;
  width: 15px;
  height: 5px;
  background-color: #353b48;
  /*倾斜*/
  transform: skew(50deg);
  transition: all .5s;
}

.container a::before {
  top: -5px;
  left: 10%;
}

.container a::after {
  bottom: -5px;
  right: 10%;
}

.container a:hover::before {
  left: 80%;
}

.container a:hover::after {
  right: 80%;
}


















